/* Custom Cursor in the general page. */
 html {
  cursor: url("images/webdecor/DGCnorm.png") 0 0, auto;
}

/* Fonts */
.ChasingHearts-Regular {
    font-family: "Chasing Hearts-Regular";
    font-weight: 400;
    font-style: normal;
}
    
:root {
    --header-image: url("images/wallpapers/pastelgothedit.gif");
    --body-bg-image: url("images/wallpapers/purplebluepink.gif");

/* Colors */
    --content: #43256E;
}

/* Custom scrollbar: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp. */
/* Width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c289f0; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbabd8;
    border: 1.5px solid #c289f0;
    border-radius: 5px;
    box-shadow: inset 0 -1px 1px #fff, inset 0 1px 1px #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #dfeaee;
    border: 1.5px solid #eaeeff;
}

/*Highlight color in the general page. */
::selection {
  background-color: #dfeaee;
  color: #5e4e8c;
}

/* Custom Cursor when hovering (:hover) overing a link (a). */
a:hover {
    cursor: url("images/webdecor/DGCnorm.png") 0 0, auto;
}

a {
    color: #bbabd8;
}
/* Highlight color when hovering (:hover) overing a link (a). */
a::selection {
    color: #c289f0;
}

a:hover {
    color: #43256E;
}

html a:visited {
    color: #bbabd8;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-color: #c289f0;
/* You can delete the line below if you'd prefer to not use an image */
    background-size: 65px;
    color: #fceaff;
    background-image: var(--body-bg-image);
}

* {
    box-sizing: border-box;
}

/* CSS for extras */
#topBar {
    background-image: url("images/wallpapers/purplepaddingbg.jpg");
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
}

/* The "container" is what wraps your entire website. */
/* If you want something (like the header) to be Wider than
   the other elements, you will need to move that div outside
   of the container. */
#container {
    max-width: 900px;
/* This is the width of your layout! */
/* If you change the above value, scroll to the bottom
   and change the media query according to the comment! */
    margin: 0 auto;
/* This centers the entire page. */
    color: #e07ed7;
    font-weight: bold;
}

/* The area below is for all links on your page
   EXCEPT for the navigation. */

#bigBorder {
    border: 40px solid rgba(255, 255, 255, 0);
    border-image: url("images/borders/blacklace.png") 85 round;
}

ul {
    list-style-image: url("images/pixels/pastelbathearts10x10.gif");
}

#header {
    width: 100%;
    background-color: #5e4e8c;
/* Header color here! */
    height: 150px;
/* This is only for a background image! */
/* If you want to put images IN the header, 
   you can add them directly to the <div id="header"></div> element! */
    background-image: var(--header-image);
    background-size: 100%;
}

/* Resource: https://bennadel.github.io/JavaScript-Demos/demos/marquee-animations/. */
/* Stamp Marquee */

.stampmarquee {
    background-image: url("images/wallpapers/purplepaddingbg.jpg");
    display: flex ;
    overflow: hidden ;
    white-space: nowrap ;
    width: 100%;
    height: 65px;
}

.stampsmarquee:hover{
    animation-play-state: paused;
}

.stamps {
    animation-duration: 36s;
    animation-iteration-count: infinite;
    animation-name: stamps;
    animation-timing-function: linear;
    padding: 5px 5px 5px 5px;
}

@keyframes stamps {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
	}
}

/* Blinkie Marquee */
.blinkiemarquee {
    background-image: url("images/wallpapers/purplepaddingbg.jpg");
    display: flex ;
    overflow: hidden ;
    white-space: nowrap ;
    width: 100%;
}

.blinkiesmarquee:hover{
    animation-play-state: paused;
}

.blinkies {
    animation-duration: 22s;
    animation-iteration-count: infinite;
    animation-name: blinkies;
    animation-timing-function: linear;
    padding: 5px 3px 5px 3px;
}

@keyframes blinkies {
    from {
        transform: translateX( 0% );
    }
    to {
        transform: translateX( -100% );
    }
}
/* BOTH of the marquee items are going to be translating left at the same time.
   And, once each of them has translated to -100%, they will both snap back into
   place, making it seem as if they are continuously scrolling. */

/* Tone down the animation to avoid vestibular motion triggers. */
@media (prefers-reduced-motion: reduce) {
  .animation {
    animation: dissolve 4s linear infinite both;
    text-decoration: overline;
  }
}

#flex {
    display: flex;
}

#leftSidebar {
    background-image: url("images/wallpapers/pastelpurple.png");
    width: 200px;
    padding: 20px;
    font-size: smaller;
/* this makes the sidebar text slightly smaller */
}

/* this is the color of the main content area,
   between the sidebars! */
main {
    background-image: url("images/wallpapers/pastelpurple.png");
    flex: 1;
    padding: 20px;
    order: 2;
}

#rightSidebar {
    background-image: url("images/wallpapers/pastelpurple.png");
    width: 200px;
    padding: 20px;
    font-size: smaller;
    
/* this makes the sidebar text slightly smaller */
}

/* what's this "order" stuff about??
   allow me to explain!
   if you're using both sidebars, the "order" value
   tells the CSS the order in which to display them.
   left sidebar is 1, content is 2, and right sidebar is 3! */
   
#leftSidebar {
    order: 1;
}

#rightSidebar {
    order: 3;
}

footer {
    background-image: url("images/wallpapers/purplepaddingbg.jpg");
/* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
/* this centers the footer text */
}

h1 {
    font-size: 25px;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Cloister Black", "Blackletter", "Emilys Candy", Arial, Helvetica, sans-serif;
    color: #ff6fc4 #ffcfee;
    text-align: center;
}

strong {
/* this styles bold text */
    color: #8357a8;
}

#purrsylum {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: "Cloister Black";
}

/* this is just a cool box, it's the darker colored one */
.box {
    height: auto;
    width: auto;
    background-image: url("images/wallpapers/purplepaddingbg.jpg");
    padding: 10px;
    border: 2px solid #c289f0;
    align-content: center;
}


/* BELOW THIS POINT IS MEDIA QUERY */
/* so you wanna change the width of your page? 
   by default, the container width is 900px.
   in order to keep things responsive, take your new height,
   and then subtrack it by 100. use this new number as the 
   "max-width" value below */

@media only screen and (max-width: 900px) {
    #flex {
        flex-wrap: wrap;
    }

aside {
    width: 100%;
    width: 400px;
    padding: 3px;
    font-size: 18px;
    float: left;
    border-width: 8px;
}

/* The order of the items is adjusted here for responsiveness!
   Since the sidebars would be too small on a mobile device.
   Feel free to play around with the order! */
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

.sitelog {
    margin-top: 0px;
    background-image: url("images/wallpapers/purplenotecard2.jpg");
    font-family: "ChasingHearts-Regular";
    font-size: 20px;
}

/* Resource: https://www.w3schools.com/csS/css3_image_center.asp */
.hangingbat {
    margin-top: -30px;
    transform: translate(0px, 30px); 
    display: flex;
    justify-content: center;
}

#logtemplate {
    font-size: 11px;
}
